@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.box{
    position: relative;
    top: 11rem;
    left: 500px;
    //right: 3rem;
    background-color: rgb(188, 218, 188);
    //padding: 3rem
    border: 2px solid rgb(88, 86, 86);
    box-shadow: 2px 2px 5px red;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    
}
li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding-left: 9rem;
}
input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(white, #3b3b3b);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    /* font: 400 13.3333px Arial; */
    width: 480px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(#767676, #858585);
    border-image: initial;
}
.destroy{
    margin-left: 350px
}